@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #f04c23;
  --grey-500: #dbdbdb;
  --primary--300: #f37353;
  --dark: #212529;
}
:root[data-theme="dark"] {
  --primary-bright: #ffffff;
  --primary: #d9d9d9;
  --primary-dim: #666666;
  --primary-dark: #202020;
  --secondary: #ffed7f;
  --secondary-bright: #ffea5f;
  --background: #060708;

  /* Asks browser to behave in dark mode */
  color-scheme: dark;
}

/*
 * Light mode theme 
 */
:root[data-theme="light"] {
  --primary-bright: #000000;
  --primary: #060708;
  --primary-dim: #121315;
  --primary-dark: #efefef;
  --secondary: #002aff;
  --secondary-bright: #4800ff;
  --background: #ededed;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none !important;
}
li {
  list-style: none;
}
body {
  color: var(--dark);
  font-family: poppins, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  background-color: #e8e8e8;
}
.header__top::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: var(--primary);
  transform: skewX(-25deg);
  z-index: 1;
}
.header__top::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -7px;
  width: 100vw;
  height: 100%;
  background: var(--primary--300);
  transform: skewX(-25deg);
  z-index: 0;
}

.btn-dark {
  border-color: var(--dark) var(--dark) var(--dark-300);
  color: #fff !important;
  opacity: 1 !important;
}
.btn-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.7;
  border-radius: inherit;
  transform: translate3d(5px, 5px, 0);
  transition: ease transform 300ms;
  z-index: 0;
}
.btn-dark:hover {
  transform: translate3d(2.5px, 2.5px, 0);
  transition: ease transform 300ms;
}
.btn-dark:hover::before {
  transform: translate3d(0, 0, 0);
}
.hero-bg {
  /* background-image: url("https://www.syngenta.com/sites/syngenta/files/Syngenta-Rowe-AnthonyCollins.nyc-3379.jpg"); */
  position: relative;
  background-size: cover;
  background-position-y: 60%;
  width: 100%;
}

.service_bg {
  /* background-image: url("/bg-gray.svg"); */
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background-position-x: 50%;
  background-color: #fff;
}
.services_box {
  box-shadow: 0 0 21px -5px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in;
  height: 100%;
}
.box_shadow {
  box-shadow: 0 0 21px -5px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in;
}
.services {
  transition: all 0.3s ease-in;
  height: 100%;
}
.desc {
  top: 0;
  position: relative;
  transition: all 0.3s ease-in;
}
.wrapper {
  height: 80px;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.services_box:hover .desc {
  top: -50px;
  transition: all 0.3s ease-in;
  background-color: #fff;
}
.services_box:hover .desc h1 {
  color: rgb(80, 146, 87);
}
.services_box:hover .wrapper {
  height: 100%;
  transition: all 0.3s ease-in;
}
.service:hover .desc {
  top: 0px;
  padding-bottom: 10px;
  transition: all 0.3s ease-in;
  background-color: #fff;
}
.service:hover .wrapper {
  height: 200px;
  transition: all 0.3s ease-in;
}
/* .link > div {
  width: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.services_box:hover .link > div {
  transition: all 0.3s ease-in;
  width: 100px;
} */
.company_stats {
  background-image: url("https://tplabs.co/agrios/wp-content/uploads/2022/07/wheats-2.webp");
  /* background-image: url("/live/particles1.svg"); */
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #212529;
}
.arrow {
  transition: all 0.3s ease-in;
}
.section_link:hover .arrow {
  color: var(--primary) !important;
  transition: all 0.3s ease-in;
  margin-left: 10px;
}
.blog_img:hover .inner-bg {
  height: 200px;
  transition: all 0.3s ease-in;
}
.inner-bg {
  transition: all 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.8);
}
.footer-bg {
  background-image: url("/live/wave.svg");
  background-size: cover;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  z-index: -1;
}
.rotate {
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.rotate:hover {
  transform: scale(1.2);
  transition: transform 100ms ease-in-out;
}

.project_description {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: all 100ms ease-in-out;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.black_bg {
  transition: all 0.3s ease-in;
  background: rgba(0, 0, 0, 0.6);
}
.black_bg p {
  color: white !important;
}
.project:hover .black_bg {
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in;
  z-index: 1;
  cursor: pointer;
}
.project:hover h1 {
  display: none;
}
.project:hover .project_description {
  height: 100%;
  transition: all 0.3s ease-in;
  color: white !important;
  padding: 20px;
  z-index: 2;
  cursor: pointer;
}

/* .team-image {
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.team-image:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in;
} */
.img-hover-zoom {
  height: 300px; /* Modify this according to your need */
  overflow: hidden;
  cursor: pointer; /* Removing this will break the effects */
}
/* Quick-zoom Container */
.img-hover-zoom img {
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
}

/* The Transformation */
.img-hover-zoom:hover img {
  transform: scale(1);
}
input[type="checkbox"] {
  display: none;
}
input[type="radio"] {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  width: 200px !important;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 768px) {
  input[type="radio"] {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
    width: 250px !important;
  }
  .tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]),
  .tabs-lifted > .tab:is(input:checked) {
    margin: 10px 0;
  }
}
.items {
  cursor: pointer;
}
.tabs {
  justify-content: flex-start !important;
  text-align: left !important;
  transition: all 0.3s ease-in;
}
.our_value_proposition ul li {
  list-style-type: circle;
}

.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]),
.tabs-lifted > .tab:is(input:checked) {
  color: white !important;
  font-weight: 600;
  transition: all 0.3s ease-in;
  background: var(--dark) !important;
}
.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]):before,
.tabs-lifted > .tab:is(input:checked):before {
  content: none !important;
}
.tab-content ul li {
  list-style-type: circle;
}
.tab-content {
  transition: all 0.3s ease-in;
}
.hidden_bg {
  transition: all 0.3s ease-in;
}
.team_member:hover .hidden_bg {
  height: 100%;
  transition: all 0.3s ease-in;
}
.blog_p p {
  padding: 10px 0;
  font-size: 16px;
  color: #212529;
}
.light {
  background: whitesmoke;
  color: var(--dark);
  transition: all 0.3s ease-in;
}
.dark {
  background: #212529;
  color: #fff;
  transition: all 0.3s ease-in;
}
.scrollTo svg {
  background-color: red !important;
  display: flex !important;
}
